@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
*{
  font-family: 'Gamja Flower', cursive;
}
html{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_yHwAl4bkw6k5XDLHQLUoiVCpQlqahtzxsA&usqp=CAU');
  background-size: cover;
  color: #242424;
}
.layout{
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
}
.todo-title{
display: flex;
height: 70px;
justify-content: center;
align-items: center;

}
.form-tag{
  display: flex;
  align-items: center;
  border: none;
  padding:30px;
  justify-content: space-between;
  border-radius: 10px;
  background-color:cornflowerblue
}
.form-tag label{
  font-size: 20px;
  font-weight: bolder;
  margin-left: 20px;
}
.form-tag input{
  height: 25px;
  border-radius: 10px;
  border: none;
  width: 300px;
}
.form-tag button{
border: none;
background-color:lightskyblue;
width: 100px;
height: 50px;
border-radius: 10px;
cursor: pointer;
}
.form-tag button:hover{
  background-color:dodgerblue;
}
.todo-list{
  display: flex;
  flex-wrap:wrap;
}
.todo-working{
  background-color:rgb(206, 167, 250);
  width: 250px;
  height: 200px;
  border-radius: 10px;
  margin: 0 10px;
  padding: 20px;
}
.todo-working button{
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}
.delBtn{
  background-color:rgb(255, 50, 50);
  margin: 20px 10px;
}
.booleanChangeBtn{
  background-color: rgb(70, 253, 53);
}